<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <settings>
  	<setting name="logImpl" value="LOG4J"/>
  </settings>
  <typeAliases>
  <package name="com.chaojun.pojo"/>
  </typeAliases>
  <environments default="default">
    <environment id="default">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
 				<property name="url" value="jdbc:mysql://39.100.76.126:3306/prison?useUnicode=true&amp;characterEncoding=UTF-8"/>
 				<property name="username" value="root"/>
 				<property name="password" value="kb318"/>
 	 </dataSource>
    </environment>
  </environments>
  <mappers>
 	 <mapper resource="com/chaojun/mapper/UserMapper.xml"/>
 	 <mapper resource="com/chaojun/mapper/InfoMapper.xml"/>
 	 <mapper resource="com/chaojun/mapper/KaoheTableMapper.xml"/>
 	 <mapper resource="com/chaojun/mapper/NaturalInfoMapper.xml"/>
 	 <mapper resource="com/chaojun/mapper/idsMapper.xml"/>
 	 <mapper resource="com/chaojun/mapper/huanhuan.xml"/>
  </mappers>
</configuration>